@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.hover-zoom-in:hover {
    animation: zoom-in 1.0s forwards;
}

.hover-in:hover {
    border: 2px solid #FA433B;
    outline: none;
}
